<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css?ionicCachebuster=59159" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="css/style.css?ionicCachebuster=59159" rel="stylesheet" type="text/css">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js?ionicCachebuster=59159"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js?ionicCachebuster=59159"></script>

    <!-- your app's js -->
    <script src="js/app.js?ionicCachebuster=59159"></script>
  </head>
  <body ng-app="starter" ng-controller="ShowCtrl">

    <ion-pane>
      <ion-header-bar class="bar-assertive">
        <h1 class="title">Thinkr</h1>
      </ion-header-bar>
      <ion-content scroll="true">
          <h1>Prueba</h1>
          <button class="button button-balanced" on-tap="aparece()">
          Aparece
          </button>
          <div class="contenido" ng-repeat="mensaje in mensajes">{{mensaje.escritor}} : {{mensaje.texto}}</div>

      </ion-content>
      <ion-footer-bar class="bar-assertive" ng-show="estado">
                   <div style="width:10%; padding-top:7px; border-left:0px; margin-left:0px; text-align:center; padding-left:0px; background-color:#ffffff;"><i class="ion-android-happy"></i></div><input style="width: 80%;" type="text" ng-model="mensaje">
                   <div class="papel" on-tap="esconde()" style="width:10%; text-align:center; padding-top: 7px;"><i class="ion-paper-airplane"></i></div>
         </ion-footer-bar>
    </ion-pane>
  </body>
</html>

<script>
</script>
